<div class="grey lighten-4" id="form">

<h1>Editing <%= @employee.name %>'s Info</h1>

<%= render 'form', employee: @employee %>

<br />
<%= link_to 'Show', @employee, :class=> "waves-effect waves-light btn green"  %> |
<%= link_to 'Back', employees_path, :class=> "waves-effect waves-light btn red"  %>

</div>
