<div class="grey lighten-4" id="form">
    
<h1>New Employee</h1>

<%= render 'form', employee: @employee %>

<br/>
<%= link_to 'Back', employees_path, :class=> "waves-effect waves-light btn red"  %>

</div>