<div class="grey lighten-4" id="form">

<h1>New Assignment</h1>

<%= render 'form', assignment: @assignment %>

<br/>
<%= link_to 'Back', assignments_path, :class=> "waves-effect waves-light btn red"   %>

</div>