<div class="grey lighten-4" id="form">

<h1>Editing Job</h1>

<%= render 'form', job: @job %>

<br/>
<%= link_to 'Show', @job, :class=> "waves-effect waves-light btn green"  %>
<%= link_to 'Back', jobs_path, :class=> "waves-effect waves-light btn red"  %>
</div>
