<div class="grey lighten-4" id="form">

<h1>Editing Shift</h1>

<%= render 'form', shift: @shift %>

<br/>
<%= link_to 'Show', @shift, :class=> "waves-effect waves-light btn green" %>
<%= link_to 'Back', shifts_path, :class=> "waves-effect waves-light btn red" %>

</div>